<!DOCTYPE html>
<html dir="ltr" lang="fr">
  <head>
    <meta charset="utf8"/>
    <title>Messages anonymes</title>
    <%- include("style.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section>
        <h2>Bonjour, <strong><%= nom %></strong> </h2>
            <p>Vous l'aurez peut-être reconnu, ce site est un clone Open-Source de <em>Sarahah</em>.
            <p>Il permet à ses utilisateurs de se créer une page pour recevoir des messages anonymes.</p>
      <% if (nom) { %>
            Voici votre page à partager : <mark><a href="/page/<%=nom%>" target="_blank">lien</a></mark>.
      <%}%>
    </section>
  </body>
</html>
