<!DOCTYPE html>
<html dir="ltr" lang="fr">
  <head>
    <meta charset="utf8"/>
    <title>Connexion</title>
  </head>
  <body>
    <h1>Se connecter</h1>
    <form method="post" action="/login">
      <input type="hidden" name="_csrf" value="<%= token %>">
      <input name="nom" placeholder="Nom"/>
      <input type="password" name="mdp" placeholder="Mot de passe"/>
      <input type="submit" value="Valider"/>
    </form>
    <p><%= ["", "Formulaire incomplet", "Erreur de la base de données", "N'existe pas", "Mot de passe incorrect"][msg] %></p>
  </body>
</html>
