<!DOCTYPE html>
<html dir="ltr" lang="fr">
  <head>
    <meta charset="utf8"/>
    <title>Inscription</title>
  </head>
  <body>
    <h1>S'inscrire</h1>
    <form method="post" action="/register">
      <input type="hidden" name="_csrf" value="<%= token %>">
      <input name="nom" placeholder="Nom"/>
      <input type="password" name="mdp" placeholder="Mot de passe"/>
      <input type="submit" value="Valider"/>
    </form>
    <p><%= ["", "Formulaire incomplet", "Erreur base de données (nom déjà présent)"][msg] %></p>
  </body>
</html>
